@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

html, body {
  min-height: 100vh;
}

body::after {
  content: "";
  background: url('../images/Light-Gradient.jpeg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body, input, select, button, textarea {
  font-family: 'Titillium Web', sans-serif;
  color: #666666;
}

#root, #wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav a {
  line-height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #484848;
}

nav a.active {
  color: #00808c;
}

h1 {
  font-size: 1.8rem;
  line-height: 4rem;
}

h2 {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #484848cc;
}

.articles {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.55rem;
  justify-content: space-evenly;
  min-height: 3.8rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
  margin: 1rem 0 1rem 0;
}

.article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid rgb(238, 238, 238);
}

.article p, .article h3 {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.35rem;
}

.article h3 {
  font-size: 1.3rem;
  line-height: 1.55rem;
  color: #ff4b0091;
  margin-bottom: 0.2rem;
}

button {
  border: 1px solid #DDDDDD;
  border-radius: 0;
  min-height: 2.2rem;
}

.button-group {
  display: flex;
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  min-width: 100%;
  font-size: 0.9rem;
  color: #ff4b00;
  background-color: #b4b36213;
}

button:active {
  box-shadow: 0 0 5px #93005a;
  border: 1px solid #93005a;
  background-color: white;
}

button:disabled {
  color: #4848486b;
}

input:active, input:focus, textarea:active, textarea:focus, select:focus {
  box-shadow: 0 0 5px #93005a;
  border: 1px solid #93005a;
}

form {
  width: 400px;
  line-height: 2.5rem;
  padding: 0.55rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, select, textarea {
  padding-left: 0.5rem;
  border-radius: 0;
  margin-bottom: 1rem;
  border: 1px solid #DDDDDD;
  background-color: white;
  outline: none;
  width: 100%;
  height: 2.4rem;
}

form button {
  width: 100%;
}

#logout {
  position: absolute;
  top: 5px;
  right: 5px;
}

#spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4b00;
}

footer {
  margin-top: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #adadad;
}
